{% load static %}
<head>
  <title>{% block title %}oYUHARI{% endblock %}</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <!--Import materialize.css-->
<!---
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
--->

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  
  <h1><center>oYUHARI</center></h1>
  <hr>
  {% block content %}{% endblock %}
</body>
