{% load static %}
<head>
  <title>oYUHARI</title>
  <link href="{% static 'icon' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <script type="text/javascript" src="{% static 'jquery-2.1.1.min.js' %}"></script>
  
  <h1><center>oYUHARI</center></h1>
  <hr>
  {% block content %}{% endblock %}
</body>
