{% extends "website/base.html" %}

{% block title %}
受付画面
{% endblock %}
{% block content %}
<form action="/exec" method="post">
  {% csrf_token %}
  <p>
    <!---
	<select name="hour">
	  {% for i in hour_list %}
          <option value="{{ i }}">{{ i }}</option>
	  {% endfor %}
	</select>時
	<select name="minute">
	  {% for i in minute_list %}
          <option value="{{ i }}">{{ i }}</option>
	  {% endfor %}
	</select>分に
	--->
    <input type="number" name="hour" min="0" max="23" value="0">時
    <input type="number" name="minute" min="0" max="59" value="0">分に
  </p><p>
    <input type="number" name="little" min="0" max="999" value="0"><font size="1">ミリ </font>リットル入れる
  </p>
  <input type="submit" value="送信">
</form>
{% endblock %}

