<head>
  <title>帰ったらお風呂</title>
</head>
<body>
  <h1><center>ナンカレーはお好きですか？</center></h1>
  <form action="/exec" method="post">
    {% csrf_token %}
    <p>
      <select name="hour">
	{% for i in hour_list %}
          <option value="{{ i }}">{{ i }}</option>
	  {% endfor %}
      </select>時
      <select name="minute">
	{% for i in minute_list %}
          <option value="{{ i }}">{{ i }}</option>
	  {% endfor %}
      </select>分に
    </p><p>
      <input type="text" name="little" maxlength="3" size="1">リットル入れる
    </p>
    <input type="submit" value="送信">
  </form>
</body>
